*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.big_box{
    width: 100%;
    height: 600px;
    display: flex;
    background-color: rgb(246, 236, 236);
    justify-content: center;
    align-items: center;
}
.qutu{
    width: 70%;
    height: 500px; 
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr 0.5fr 1fr 2fr 1fr;
    grid-template-areas:'grid1 grid2 grid2 grid3 grid4'
                        'grid5 grid2 grid2 grid3 grid6'
                        'grid7 grid8 grid9 grid3 grid10'
                        'grid11 grid11 grid11 grid3 grid12';

}

.xana1{
    grid-area: grid1;
    background-color: rgb(235, 57, 116);
   text-align: center;
    align-content: center;
    
}
.xana2{
    grid-area: grid2;
    background-color: rgb(220, 34, 171);
    text-align: center;
    align-content: center;
}
.xana3{
    grid-area: grid3;
    background-color: rgb(215, 136, 46);
    text-align: center;
    align-content: center;
    font-size: 30px;
    color: aliceblue;
}
.xana4{
    grid-area: grid4;
    background-color: rgb(125, 123, 11);
    text-align: center;
    align-content: center;
}
.xana5{
    grid-area: grid5;
    background-color: rgb(12, 71, 6);
    text-align: center;
    align-content: center;
}
.xana6{
    grid-area: grid6;
    background-color: rgb(9, 71, 90);   text-align: center;
    align-content: center;
}
.xana7{
    grid-area: grid7;
    background-color: rgb(105, 152, 12);
    text-align: center;
    align-content: center;
}
.xana8{
    grid-area: grid8;
    background-color: rgb(5, 83, 8); 
    text-align: center;
    align-content: center;
}
.xana9{
    grid-area: grid9;
    background-color: rgb(52, 218, 243);
    text-align: center;
    align-content: center;
}
.xana10{
    grid-area: grid10;
    background-color: rgb(85, 216, 96);
    text-align: center;
    align-content: center;
}
.xana11{
    grid-area: grid11;
    background-color: rgb(103, 14, 175);
    text-align: center;
    align-content: center;
}
.xana12{
    grid-area: grid12;
    background-color: rgb(237, 10, 10);
    text-align: center;
    align-content: center;
}